body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e3f2f3;
}

.container{
    padding: 30px 40px;
    background-color: #000;
    border-radius: 10px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    color: #fff;
}

header h2{
    width: 250px;
    text-align: center;
    font-size: 1.7rem;
}

header span{
    font-size: 1.2rem;
}

.keys-toggle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.keys-toggle input{
    width: 60px;
    height: 25px;
    appearance: none;
    border-radius: 100px;
    border: 1px solid #6d6d6d;
    background-color: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.keys-toggle input:checked{
    background-color: #fff;
}

.keys-toggle input::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #a2a2a2;
    position: absolute;
    left: 3px;
    border-radius: inherit;
    transition: all 0.4s ease;
}

.keys-toggle input:checked::before{
    left: 36px;
    background-color: #333;
}

.volume{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.volume input{
    width: 200px;
    accent-color: #fff;
}

.piano-keys{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .key{
    border-radius: 5px;
    font-size: 1.4rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.piano-keys .key span{
    position: absolute;
    bottom: 20px;
}

.piano-keys .white{
    background-color: #fff;
    border: 1px solid #a2a2a2;
    width: 70px;
    height: 230px;
    color: #666;
    box-shadow: inset 0px -10px rgba(0, 0, 0, 0.8);
}

.piano-keys .white:active{
    box-shadow: none;
}

.piano-keys .black{
    background: linear-gradient(#333, #000);
    border: 1px solid #a2a2a2;
    width: 40px;
    height: 150px;
    z-index: 2;
    margin: 0 -18px 0 -22px;
    color: #888;
    box-shadow: inset 0px -5px #4e4e4ecc;
}

.piano-keys .black:active{
    box-shadow: none;
}